
.navbar{
    background-color: lightcoral;
}
.name{
    margin-top: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.lista{
   display: flex;
   justify-content: space-around;
   margin-left: 16rem;
   margin-right: 10rem;
   font-family: Georgia, 'Times New Roman', Times, serif; 
}

.btn{
    border-radius: 5rem;
}

.img{
    width: 3%;
    margin-bottom: 5px;

}

.principal{
    background-color: lightcoral;
    
}

.foto{
    width: 13%;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: white;
    padding: 0.5%;
}

.box1{
    margin-top: 10%;
    margin-right: 3%;
}

.texto{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.texto1{
    margin-top: 2%;
}

.imagen{
    width: 15%;
    border-style: solid;
    border-color: lightcoral;
    background-color: lightcoral;
    padding: 0.1%;
    border-radius: 10%;
    margin-left: 13%;
    
}

.parrafo{
    margin-left: 10%;
    margin-right: 10%;
}

.titulo{
    margin-left: 1%;
}

.titulo1{
    margin-left: 37%;
}

.caja{
    margin-top: 3%;
}

.caja1{
    margin-left: 8px;
}



//estilos contact.html
.header{
    background-color: lightcoral;
    padding: 5.5%;
}

.principal1{
    margin-top: 1%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.icon{
    width: 7rem;
    
}

.forma{
    margin-top: 4%;
}

.text{
    border-color: lightcoral;
    width: 50%;
}

.text1{
    border-color: lightcoral;
    width: 50%;
}

.boton{
    background-color: lightcoral;
    border-style: none;
    margin-left: 15rem;
    padding: 0.80%;
    width: 10%;
    border-radius: 5rem;
}

.icon1, .icon2{
    width: 5%;
}


.icon1{
    position: relative;
    top:0px;
    left: 300px;
    margin-bottom: 10%;
  
}

.icon2{
    position: relative;
    top: 10px;
    left: 300px;
}
