.navbar {
  background-color: lightcoral;
  &__img{
    width: 3%;
    margin-bottom: 5px;
  }
  &__name{
    margin-top: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  &__lista{
    display: flex;
    justify-content: space-around;
    margin-left: 16rem;
    margin-right: 10rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  &__forma{
    &__btn{
      border-radius: 5rem;
      background-color: lightcoral;
    }
  }
  &__1{
    text-decoration: none;
    margin-right: 1rem;
  }
}

.header{
  background-color: lightcoral;
  &__box1{
    margin-top: 10%;
    margin-right: 3%;
  }
  &__texto{
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  &__foto{
    width: 13%;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: crimson;
    padding: 0.5%;
  }

}

.menu{
  &__texto1{
    margin-top: 2%;
  }
  &__parrafo{
    margin-left: 10%;
    margin-right: 10%;
  }
  &__section{
    &__caja{
      margin-top: 3%;
      margin-left: 5%;
    }
    &__imagen{
      width: 17%;
      border-style: solid;
      border-color: lightcoral;
      background-color: lightcoral;
      padding: 0.1%;
      border-radius: 10%;
      margin-left: 4%;
    }
  }
  &__caja1{
    margin-left: 50px;
    &__titulo{
      margin-bottom: 1%;
      margin-left: 5%;
    }
    &__box-1{
      margin-top: 1%;
    }
    &__ul{
      padding: 0%;
    }
    &__ol{
      margin-top: 1rem;
      margin-bottom: 3.9rem;
  
    }
  }
  &__titulo1{
    margin-right: 6%;
    margin-top: 2%;
    margin-left: 3%;

  }
  &__linea{
    background: rgb(255, 0, 102);
    background: linear-gradient(0deg, rgb(249, 49, 129) 0%, rgb(240, 128, 128) 100%);
    height: 5px;
    border-style: none;
    opacity: 10;
  }
}

.caja-1{
  &__skills{
    margin-top: 3%;
    text-align: center;
  }
  &__barras{
    width: 100%;
    &__line{
      width: 100%;
      height: 20px;
      background: crimson;
      border: none;
      opacity: 10;
      margin: 0%;
    }
    &__p1{
      margin-right: 20.9rem;
      margin-bottom: 0%;
      padding: 0%;
    }
  }
  &__barras > *:not(:last-child) {
    margin-right: 7rem;
  }
  &__linea{
    background: rgb(255, 0, 102);
    background: linear-gradient(0deg, rgb(249, 49, 129) 0%, rgb(240, 128, 128) 100%);
    height: 5px;
    border-style: none;
    opacity: 10;
  }
  
}

.caja-3{
  &__first{
    margin-bottom: 2%;
  }
  &__p-2{
    margin-bottom: 2rem;
  }
  &__box-g{
    margin-top: 2%;
  }
  &__linea{
    background: rgb(255, 0, 102);
    background: linear-gradient(0deg, rgb(249, 49, 129) 0%, rgb(240, 128, 128) 100%);
    height: 5px;
    border-style: none;
    opacity: 10;
  }
}

.caja-2{
  margin-left: 5%;
  &__titulo-a{
    margin-top: 2%;
    text-align: center;
  }
  &__card{
   width: 38rem;
   margin: 16px;
   &__card-img{
    width: 90%;
    height: 235px;
   }
  }
  &__card-body{
   margin-top: 15px;
  }
  &__links{
    width: 13%;
    margin-left: 20%;
  }
}

.footer{
  background-color: lightcoral;
  margin-top: 3%;
  width: 100%;
  &__cont {
    display: flex;
    justify-content: center;
  }
  &__div{
    margin-top: 3%;
  }
  &__img{
    width: 4%;
    margin-bottom: 5px;
  }
  &__box1{
      &__forma{
        margin-left: 2%;
      &__input{
        width: 22%;
        border-style: none;
        border-radius: 5%;
        margin-bottom: 15px;
      }
      &__btn{
        border-style: none;
        width: 10%;
        margin-top: 1%;
        margin-left: 16.5%;
      }
      }
    }
    &__caja{
      &__img{
        width: 2.8rem;
      } 
    }
}

@media screen and (max-width: 425px){

  .navbar{
    &__img{
      width: 10%;
    }
    &__name{
      position: relative;
      right: 17rem;
    }
    &__lista{
      margin: 0;
      position: relative;
      left: 16rem; 
    }
    &__1{
      text-decoration: none;
      margin-right: 0;
    }
    &__principal{
      position: relative;
      left: 16rem;
    }
  }

  .header{
    &__foto{
      position: relative;
      right: 17rem;
      bottom: 10rem;
      width: 8.5rem;
      height: 150px;
    }
    &__box1{
      margin-right: 0;
      text-align: center;
    }
    &__texto{
      color: black;
      width: 20rem;
    }
  }

  .menu{
    &__section{
      &__imagen{
       width: 10rem;
       height: 250px;
      }
    }
    %__caja{
      display: block;
    }
    &__principal{
      
    }
  }
 
  





}

