.navbar{
    background-color: lightcoral;
}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.lista{
   display: flex;
   justify-content: space-around;
   margin-left: 16rem;
   font-family: Georgia, 'Times New Roman', Times, serif; 
}
.nav1,
.nav2,
.nav3{
   margin-left: 25%;
   margin-right: 20%;
}

.btn{
    margin-left: 25rem;
    border-radius: 5rem;
}
.img{
    width: 3%;
    margin-bottom: 5px;

}
